In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datetime as dt
import time
import math
# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
import matplotlib.pyplot as plt
import os
from pathlib import Path
import time
import cartopy.crs as ccrs
import sqlite3
from IPython.utils import io

df= pd.read_csv('orchid_observation.csv', index_col='id', parse_dates=['date_observed_on'])
df.dtypes

common_name                   object
scientific_name               object
latitude                     float64
longitude                    float64
date_observed_on      datetime64[ns]
place_guess                   object
place_state_name              object
place_country_name            object
dtype: object

In [3]:
#loading external SQL magic
%load_ext sql
#If database is not available, it will create a database
%sql sqlite:///orchid.db
#print out tabels in the database
%sql SELECT name FROM sqlite_master WHERE type='table';

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * sqlite:///orchid.db
Done.

[('orchid_all',)]

In [4]:
%sql SELECT COUNT(*) FROM orchid_all

 * sqlite:///orchid.db
Done.

[(23734,)]

In [8]:
%sql SELECT * FROM orchid_all LIMIT 5

 * sqlite:///orchid.db
Done.

[('spotted coralroot', 'Corallorhiza maculata', 39.96880703, -105.5496204, '2017-06-28', '136 Bergren Road Nederland, CO 80466', 'Colorado', 'United States'),
 ('Tuberous Grasspink', 'Calopogon tuberosus', 45.70125048, -85.53653666, '2017-01-01', 'Beaver Island, Peaine, MI, US', 'Michigan', 'United States'),
 ('crane-fly orchid', 'Tipularia discolor', 39.20595599, -77.29086307, '2017-01-01', 'Black Hill Regional Park, Boyds, MD', 'Maryland', 'United States'),
 ('crane-fly orchid', 'Tipularia discolor', 37.59629696, -77.47732401, '2017-01-01', 'Northside, Richmond, VA, USA', 'Virginia', 'United States'),
 ('crane-fly orchid', 'Tipularia discolor', 35.12957887, -85.35996842, '2017-01-01', '37377, Signal Mountain, TN, US', 'Tennessee', 'United States')]

In [9]:
%sql CREATE TABLE orcid_temp AS SELECT * FROM orchid_all LIMIT 10000

 * sqlite:///orchid.db
Done.

[]

In [11]:
%sql SELECT * FROM orcid_temp LIMIT 5

 * sqlite:///orchid.db
Done.

[('spotted coralroot', 'Corallorhiza maculata', 39.96880703, -105.5496204, '2017-06-28', '136 Bergren Road Nederland, CO 80466', 'Colorado', 'United States'),
 ('Tuberous Grasspink', 'Calopogon tuberosus', 45.70125048, -85.53653666, '2017-01-01', 'Beaver Island, Peaine, MI, US', 'Michigan', 'United States'),
 ('crane-fly orchid', 'Tipularia discolor', 39.20595599, -77.29086307, '2017-01-01', 'Black Hill Regional Park, Boyds, MD', 'Maryland', 'United States'),
 ('crane-fly orchid', 'Tipularia discolor', 37.59629696, -77.47732401, '2017-01-01', 'Northside, Richmond, VA, USA', 'Virginia', 'United States'),
 ('crane-fly orchid', 'Tipularia discolor', 35.12957887, -85.35996842, '2017-01-01', '37377, Signal Mountain, TN, US', 'Tennessee', 'United States')]